Sunday, January 8, 2023

First time playing with yfinance. I want to get an understanding on what it can do and show. 

https://pypi.org/project/yfinance/

conda activate finance

In [1]:
# importing the yfinanceCopy module
import sys		
sys.path.append('/home/rob/Documents/Github/ranaroussi')

In [2]:
# import yfinance as yf
from yfinanceCopy import yfinance as yf

In [3]:
# This does NOT make any api calls!
msft = yf.Ticker("MSFT")

In [40]:
msft = None

In [4]:
# get stock info

# This makes these calls ...
# https://finance.yahoo.com/quote/MSFT
# https://query1.finance.yahoo.com/ws/fundamentals-timeseries/v1/finance/timeseries/MSFT?symbol=MSFT&type=trailingPegRatio&period1=1657553237&period2=1673368037

# Launch this again for the first time, it changes the values for period1 and period2 ...
# https://query1.finance.yahoo.com/ws/fundamentals-timeseries/v1/finance/timeseries/MSFT?symbol=MSFT&type=trailingPegRatio&period1=1657553514&period2=1673368314

msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 221000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425 706 7329',
 'industry': 'Software—Infrastructure',
 'ebitdaMargins': 0.48672,
 'profitMargins': 0.34366,
 'grossMargins': 0.6826,
 'operatingCashflow': 87693000704,
 'revenueGrowth': 0.106,
 'operatingMargins': 0.41691002,
 'ebitda': 98841001984,
 'targetLowPrice': 200,
 'recommendationKey': 'buy',
 'grossProfits': 135620000000,
 'freeCashflow': 46155874304,
 'targetMedianPrice': 287.5,
 'currentPrice': 230.69,
 'earningsGrowth': -0.133,
 'currentRatio': 1.84,
 'returnOnAssets': 0.15223,
 'numberOfAnalystOpinions': 46,
 'targetMeanPrice': 293.28,
 'debtToEquity': 44.442,
 'returnOnEquity': 0.42875,
 'targetHighPrice': 411,
 'totalCash': 107244003328,
 'totalDebt': 77136003072,
 'totalRevenue': 203074994176,
 'totalCashPerShare': 14.387,
 'financialCurrency': 'USD',
 'revenuePerShare': 27.142,
 'quickRatio': 1.585,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 8.012,
 'beta3Year': None,
 'enterpriseToEbitda': 16.462,
 '52WeekChange': -0.28427786,
 'morningStarRiskRating': None,
 'forwardEps': 11.17,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7454470144,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 23.276,
 'sharesShort': 41572793,
 'sharesPercentSharesOut': 0.0056,
 'fundFamily': None,
 'lastFiscalYearEnd': 1656547200,
 'heldPercentInstitutions': 0.73334,
 'netIncomeToCommon': 69788999680,
 'trailingEps': 9.29,
 'lastDividendValue': 0.68,
 'SandP52WeekChange': -0.16598755,
 'priceToBook': 9.911068,
 'heldPercentInsiders': 0.00059,
 'nextFiscalYearEnd': 1719705600,
 'yield': None,
 'mostRecentQuarter': 1664496000,
 'shortRatio': 1.6,
 'sharesShortPreviousMonthDate': 1668470400,
 'floatShares': 7447838663,
 'beta': 0.926403,
 'enterpriseValue': 1627095957504,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1668556800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.144,
 'priceToSalesTrailing12Months': 8.468161,
 'dateShortInterest': 1671062400,
 'pegRatio': 1.83,
 'ytdReturn': None,
 'forwardPE': 20.652641,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0056,
 'sharesShortPriorMonth': 34590231,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 224.93,
 'regularMarketOpen': 226.45,
 'twoHundredDayAverage': 259.5836,
 'trailingAnnualDividendYield': 0.011292403,
 'payoutRatio': 0.26700002,
 'volume24Hr': None,
 'regularMarketDayHigh': 231.23,
 'navPrice': None,
 'averageDailyVolume10Day': 28525260,
 'regularMarketPreviousClose': 224.93,
 'fiftyDayAverage': 239.6652,
 'trailingAnnualDividendRate': 2.54,
 'open': 226.45,
 'toCurrency': None,
 'averageVolume10days': 28525260,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.72,
 'exDividendDate': 1676419200,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 226.41,
 'currency': 'USD',
 'trailingPE': 24.832077,
 'regularMarketVolume': 14634822,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1719671717888,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 30569248,
 'dayLow': 226.41,
 'ask': 230.84,
 'askSize': 800,
 'volume': 14634822,
 'fiftyTwoWeekHigh': 323.41,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.15,
 'fiftyTwoWeekLow': 213.43,
 'bid': 230.77,
 'tradeable': False,
 'dividendYield': 0.012200001,
 'bidSize': 1000,
 'dayHigh': 231.23,
 'coinMarketCapLink': None,
 'regularMarketPrice': 230.69,
 'preMarketPrice': 226.55,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 2.1209}

In [34]:
# get historical market data

# This makes this call ...
# https://query2.finance.yahoo.com/v8/finance/chart/MSFT

hist = msft.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.055380,0.063524,0.055380,0.060809,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.060809,0.064067,0.060809,0.062980,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.062980,0.064609,0.062980,0.064067,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.064067,0.064609,0.061894,0.062437,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.062437,0.062980,0.060809,0.061351,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-30 00:00:00-05:00,238.210007,239.960007,236.660004,239.820007,21930800,0.0,0.0
2023-01-03 00:00:00-05:00,243.080002,245.750000,237.399994,239.580002,25740000,0.0,0.0
2023-01-04 00:00:00-05:00,232.279999,232.869995,225.960007,229.100006,50623400,0.0,0.0
2023-01-05 00:00:00-05:00,227.199997,227.550003,221.759995,222.309998,39585600,0.0,0.0
2023-01-06 00:00:00-05:00,223.000000,225.759995,219.350006,224.929993,43597700,0.0,0.0

In [35]:
# show meta information about the history (requires history() to be called first)
# This does not appear to get any new data but read from what has already been pulled.
msft.history_metadata

{'currency': 'USD',
 'symbol': 'MSFT',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 511108200,
 'regularMarketTime': 1673282749,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 230.58,
 'chartPreviousClose': 0.097,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1673254800,
   'end': 1673274600,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1673274600,
   'end': 1673298000,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1673298000,
   'end': 1673312400,
   'gmtoffset': -18000}},
 'dataGranularity': '1d',
 'range': '',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [36]:
# show actions (dividends, splits, capital gains)
# This does not appear to get any new data but read from what has already been pulled.
msft.actions

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2021-11-17 00:00:00-05:00       0.62           0.0
2022-02-16 00:00:00-05:00       0.62           0.0
2022-05-18 00:00:00-04:00       0.62           0.0
2022-08-17 00:00:00-04:00       0.62           0.0
2022-11-16 00:00:00-05:00       0.68           0.0

[85 rows x 2 columns]

In [39]:
# show dividends
# This does not appear to get any new data but read from what has already been pulled.
msft.dividends

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2021-11-17 00:00:00-05:00    0.62
2022-02-16 00:00:00-05:00    0.62
2022-05-18 00:00:00-04:00    0.62
2022-08-17 00:00:00-04:00    0.62
2022-11-16 00:00:00-05:00    0.68
Name: Dividends, Length: 76, dtype: float64

In [42]:
# show splits
# This does not appear to get any new data but read from what has already been pulled.
msft.splits

Date
1987-09-21 00:00:00-04:00    2.0
1990-04-16 00:00:00-04:00    2.0
1991-06-27 00:00:00-04:00    1.5
1992-06-15 00:00:00-04:00    1.5
1994-05-23 00:00:00-04:00    2.0
1996-12-09 00:00:00-05:00    2.0
1998-02-23 00:00:00-05:00    2.0
1999-03-29 00:00:00-05:00    2.0
2003-02-18 00:00:00-05:00    2.0
Name: Stock Splits, dtype: float64

In [43]:
# show capital gains (for mutual funds & etfs)
# This does not appear to get any new data but read from what has already been pulled.
msft.capital_gains

[]

In [44]:
# show share count
msft.shares

      BasicShares
Year
2019   7673000000
2020   7610000000
2021   7547000000
2022   7496000000

In [ ]:
# show financials:
# - income statement
msft.income_stmt

In [ ]:
msft.quarterly_income_stmt

In [ ]:
# show financials:
# - income statement
msft.income_stmt

In [ ]:
msft.quarterly_income_stmt

In [ ]:
# - balance sheet
msft.balance_sheet

In [ ]:
msft.quarterly_balance_sheet

In [ ]:
# - cash flow statement
msft.cashflow

In [ ]:
msft.quarterly_cashflow
# see `Ticker.get_income_stmt()` for more options

In [ ]:
# show major holders
msft.major_holders

In [ ]:
# show institutional holders
msft.institutional_holders

In [ ]:
# show mutualfund holders
msft.mutualfund_holders

In [4]:
# show earnings
msft.earnings

           Revenue     Earnings
Year
2019  125843000000  39240000000
2020  143015000000  44281000000
2021  168088000000  61271000000
2022  198270000000  72738000000

In [ ]:
msft.quarterly_earnings

In [ ]:
# show sustainability
msft.sustainability

In [ ]:
# show analysts recommendations
msft.recommendations

In [ ]:
msft.recommendations_summary

In [ ]:
# show analysts other work
msft.analyst_price_target

In [ ]:
msft.revenue_forecasts

In [ ]:
msft.earnings_forecasts

In [ ]:
msft.earnings_trend

In [ ]:
# show next event (earnings, etc)
msft.calendar

In [ ]:
# Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default. 
# Note: If more are needed use msft.get_earnings_dates(limit=XX) with increased limit argument.
msft.earnings_dates

In [ ]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

In [ ]:
# show options expirations
msft.options

In [ ]:
# show news
msft.news

In [ ]:
# get option chain for specific expiration
opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts

In [ ]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "SPY AAPL MSFT",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "ytd",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "5d",

        # Whether to ignore timezone when aligning ticker data from 
        # different timezones. Default is True. False may be useful for 
        # minute/hourly data.
        ignore_tz = False,

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # attempt repair of missing data or currency mixups e.g. $/cents
        repair = False,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

In [ ]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")